apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deploy
  namespace: event-management-app
  labels:
    app: event-management
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: event-management
      tier: backend
  template:
    metadata:
      labels:
        app: event-management
        tier: backend
    spec:
      containers:
        - name: backend-container
          image: asia-southeast1-docker.pkg.dev/[PROJECT_ID]/event-management-docker-repo/be-event-management:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: APP_FRONTEND_URL
              value: "http://localhost"
            - name: CORS_ALLOWED_ORIGINS
              value: "*"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: DB_PASSWORD
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: DB_USERNAME
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: DB_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: JWT_SECRET
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MAIL_USERNAME
            - name: MAIL_APP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MAIL_APP_PASSWORD
            - name: CLOUDINARY_CLOUD_NAME
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: CLOUDINARY_CLOUD_NAME
            - name: CLOUDINARY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: CLOUDINARY_API_KEY
            - name: CLOUDINARY_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: CLOUDINARY_API_SECRET
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"

          startupProbe:
            httpGet:
              path:
              port: 8080
            failureThreshold: 30
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: event-management-app
spec:
  type: ClusterIP
  selector:
    app: event-management
    tier: backend
  ports:
    - port: 8080
      targetPort: 8080
